// Font Group
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

// Color Group
$base-bg: #ffffff;
$color1: hsl(257, 40%, 49%);
$color2: hsl(300, 69%, 71%);

body {
    margin: 0;
    padding: 0;
    color: $base-bg;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: $color1;
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: 768px) {
        background-image: url("./images/bg-desktop.svg");
    }

    #content_container {
        padding: 4%;

        @media only screen and (min-width: 1900px) {
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
        }

        #img_description {
            margin-top: 50px;

            @media only screen and (min-width: 1200px) {
                display: flex;
            }

            img {
                padding-right: 40px;
                width: 100%;

                @media only screen and (min-width: 1200px) {
                    width: 50%;
                }
            }

            #text_container {
                padding-top: 40px;

                @media only screen and (max-width: 1199px) {
                    text-align: center;;
                }
                
                @media only screen and (min-width: 1200px) {
                    width: 50%;
                }

                #header {
                    line-height: 1.5em;
                }

                .page-text {
                    line-height: 1.5em;
                    
                    @media only screen and (min-width: 1200px) {
                        max-width: 460px;
                        width: 100%;
                    }
                }

                .button-style-1 {
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    color: $color1;
                    background: $base-bg;
                    border: none;
                    padding: 7px 14px;
                    border-radius: 50px;
                    width: 100%;
                    max-width: 150px;
                    transition: .3s;

                    &:hover {
                        cursor: pointer;
                        transition: .3s;
                        color: $base-bg;
                        background: $color2;
                    }
                }
            }
        }

        #social_icons {
            text-align: center;
            margin-top: 25px;

            @media only screen and (min-width: 1200px) {
                text-align: right;
            }

            @media only screen and (min-width: 1900px) {
                max-width: 1600px;
                width: 100%;
            }
            
            svg {
                border: 2px solid $base-bg;
                fill: $base-bg;
                padding: 10px;
                border-radius: 50px;
                margin: 0 10px;
                transition: .3s;

                &:hover {
                    cursor: pointer;
                    border: 2px solid $color2;
                    fill: $color2;
                    transition: .3s;
                }
            }
        }
    }
}